.tmp.driveupload/
bin/
include/imgui/
src/imgui/
obj/
tape/
!Licenses/*.txt
!include/tape/
!src/tape/
PRG/
cart/
imgui.ini
*.bin
*.cbp
chargen
*.depend
kernal
*.rom
basic
*.layout
*.cfg
*.txt
*.d64
*.ini